<!doctype html>
<html lang="en">
<head>
    <title>Symfony Google Cloud Run Demo Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex">
</head>
<body>
    <h1>Hello, World !</h1>
    <h2>Welcome to the Symfony Google Cloud Run Demo Application.</h2>
</body>
</html>